# 파이썬 기초
## 논리 연산자부터

In [ ]:
import sys
print(sys.version)

In [ ]:
import math

In [ ]:
x=23.33
x<20 or x<30

In [ ]:
p="python 데이터 분석"
p

In [ ]:
p[0:2]

In [ ]:
p[2]

In [ ]:
p[:-13:-2]

In [ ]:
p[-5:-1]

In [ ]:
p[::-2]

In [ ]:
p[3::3]

In [ ]:
p*2

In [ ]:
s="hello"
s+", python"
s

In [ ]:
min(s)

In [ ]:
chr(110)

In [ ]:
list(reversed(s))

In [ ]:
ord("ㄱ"),chr(12593)

In [ ]:
sorted(s)

In [ ]:
aa="abcdefg"
sorted(aa)

In [ ]:
s="pYThon programming"
s.capitalize(),s.title(),s.swapcase()

In [ ]:
s.isalpha()

In [ ]:
s.count("m")

In [ ]:
s.index("Y")

In [ ]:
s=s.title()

In [ ]:
 k=s.split(" ")
k

In [ ]:
s.startswith("p")

In [ ]:
for i in range(0,2,1):
    k=s.split(" ")
    print(k[i])

In [ ]:
n= "이병훈"
a="22"
A="{name}의 나이는 {age}세 입니다"
A.format(name=n,age=a)

In [ ]:
chr="*"
ss= chr.join(s).split("*")
ss

In [ ]:
s="      Python Programming     "
s.(" ")

In [ ]:
s.partition(" ")

In [ ]:
p="Python Programming"
p.partition(" ")

In [ ]:
t="statistics"
x=str.maketrans("st","ST")
x

In [ ]:
t.translate(x)

In [ ]:
a=13; b=25
a>>2,~a, b<<3

In [ ]:
50//4

In [ ]:
a=85
if a>=80:
    print("점수: {0}".format(a))
print("end")

In [ ]:
b=1
for a in [90,70,50]:
    
    if a>=80:
        print("{0}번 학생 점수: {1}".format(b,a))
        print("합격")
    elif a>=60:
        print("{0}번 학생 점수: {1}".format(b,a))
        print("불합격")
    else:
        print("{0}번 학생 점수: {1}".format(b,a))
        print("불합격")
    b+=1

In [ ]:
print("pass") if a>=80 else (print("retry") if a>=60 else print("fail"))

In [50]:
a="**********"

a

'**********'

In [78]:
a="          "
for i in range(1,51):
    if i%10==0:
        print("+",end="\n")
        print(a*(i//10),end="")
    else:
        print("-",end="")

---------+
          ---------+
                    ---------+
                              ---------+
                                        ---------+

In [46]:
for i in range(1,10):
    for j in range(2,9,2):
        print("{0} x {1}= {2}".format(i,j,i*j),end="\t")
    print(end="\n")

1 x 2= 2	1 x 4= 4	1 x 6= 6	1 x 8= 8
2 x 2= 4	2 x 4= 8	2 x 6= 12	2 x 8= 16
3 x 2= 6	3 x 4= 12	3 x 6= 18	3 x 8= 24
4 x 2= 8	4 x 4= 16	4 x 6= 24	4 x 8= 32
5 x 2= 10	5 x 4= 20	5 x 6= 30	5 x 8= 40
6 x 2= 12	6 x 4= 24	6 x 6= 36	6 x 8= 48
7 x 2= 14	7 x 4= 28	7 x 6= 42	7 x 8= 56
8 x 2= 16	8 x 4= 32	8 x 6= 48	8 x 8= 64
9 x 2= 18	9 x 4= 36	9 x 6= 54	9 x 8= 72

In [ ]:
fcsum=0
for i in range(1,51):
    fcsum+=i
print(fcsum)

i=0
wcsum=0
while(i<51):
    wcsum+=i
    i+=1
print(wcsum)

In [2]:
for i in range(3):
    a=int(input("첫 번째 정수 입력: "))
    for j in range(2):
        b=int(input("두 번째 정수 입력: "))
        if a==0 & b==0:
            break;
        print("{0}+{1}={2}".format(a,b,a+b))
print("end")

첫 번째 정수 입력: 32
두 번째 정수 입력: 44
32+44=76
두 번째 정수 입력: 21
32+21=53
첫 번째 정수 입력: 5
두 번째 정수 입력: 23
5+23=28
두 번째 정수 입력: 33
5+33=38
첫 번째 정수 입력: 22
두 번째 정수 입력: 11
22+11=33
두 번째 정수 입력: 22
22+22=44
end

In [4]:
dd=["a",True,22]
dd

['a', True, 22]

In [8]:
dd[2]=4
dd

['a', True, 4]

In [10]:
aa=list(range(1,10,2))
aa

[1, 3, 5, 7, 9]

In [11]:
bb= list("nice")
bb

['n', 'i', 'c', 'e']

In [27]:
aa

[1, 't', 'e', 's', 't', 's', 't', 9]

In [15]:
st={1,2, 8,3,4,5}
aaa=list(st)
aaa

[1, 2, 3, 4, 5, 8]

In [21]:
aaa=reversed([1,34,4,6,3])
next(aaa)
next(aaa)
next(aaa)

4

In [60]:
aa=[1,2,3,4,5]
aa[1:3]=2,3
aa

[1, 2, 3, 4, 5]

In [61]:
2 in aa

True

In [66]:
sorted(aa)

[1, 2, 3, 5]

In [79]:
A=1
id(A)

1349365984

In [80]:
B=A
id(B)

1349365984

In [81]:
A=2

In [82]:
id(B)

1349365984

In [83]:
id(A), A

(1349366016, 2)

In [84]:
B

1

In [85]:
aa

[1, 2, 3, 5]

In [101]:
aa=[1,2,3,4,5]

In [102]:
aa.append(6)
aa

[1, 2, 3, 4, 5, 6]

In [103]:
aa.insert(5,5)

In [107]:
aa.remove(6)
aa

[1, 2, 3, 4]

In [108]:
aa.pop()

4

In [109]:
aa

[1, 2, 3]

In [111]:
cc=aa.copy()
id(aa),id(cc),aa,cc

(1862543349640, 1862543283208, [1, 2, 3], [1, 2, 3])

In [118]:
aa.reverse()
aa

[3, 2, 1]

In [119]:
aa.index(2)

1

In [120]:
len(aa)

3

In [121]:
len(a)

10

In [127]:
ls=[[1,2,3,4,5],[2,4,6,8,10]]
avg=[]
for i in range(len(ls)):
    avg.append(sum(ls[i])/len(ls[i]))
avg

[3.0, 6.0]

In [134]:
tp1=([1,2,3,4,5],)
tp1[0][2:3]=[3]
tp1
id(tp1)

1862542355032

In [140]:
tp2=(6,7,8,9,0)
tp1+=tp2

In [142]:
id(tp1), tp1

(1862543079848, ([1, 2, 3, 4, 5], 6, 7, 8, 9, 0))

In [151]:
type(tp1)

tuple

In [153]:
tp1.index(9,0,5)

4

In [154]:
tp2=(1,2,3)
b,n,m=tp2
print(b,n,m,tp2)

1 2 3 (1, 2, 3)

In [172]:
s1={2,4,4,5,3,6}
s2={3,5,2,6,8,9}
s1|s2, s1&s2,s1-s2,s1^s2,s1<=s2

({2, 3, 4, 5, 6, 8, 9}, {2, 3, 5, 6}, {4}, {4, 8, 9}, False)

In [177]:

s1.discard(9)
s1

{3, 4, 5, 6}

In [179]:
s2.clear()
s2

set()

In [181]:
s3=s1
id(s3),id(s1),s3

(1862543447880, 1862543447880, {3, 4, 5, 6})

In [194]:
s2={5,6,7,8}; s3={1}
s1,s2

({3, 4, 5, 6}, {5, 6, 7, 8})

In [195]:
s2.isdisjoint(s3)

True

In [3]:
dic1={"A":5,"b":3,"c":5}
dic1

{'A': 5, 'b': 3, 'c': 5}

In [19]:
dic1["b"]
dic2=dict()
aa=(1,100),(2,200)
dic2=dict(aa)
bb="a","b","c"
cc=1,2,3
dic3=dict(zip(bb,cc))
dic2,dic3

({1: 100, 2: 200}, {'a': 1, 'b': 2, 'c': 3})

In [22]:
dic2[2]=150
dic2[3]=200
del dic2[3]
dic2

{1: 100, 2: 150}

In [23]:
100 in dic2

False

In [28]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']